<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">

    <div class="item active">
      <%= image_tag "home/carousel/ucla-bruin-bear-dark.jpg"%>
      <div class="container">
        <div class="carousel-caption">
          <h1>The Armenian Fraternity.</h1>
          <p class="lead">Alpha Epsilon Omega is the only Armenian Fraternity on Campus. Established in 2000,
            the Beta chapter has a large network of alumni specialized in various fields.</p>
          <%= link_to "Sign up today", new_contact_path, :class=>'btn btn-large btn-primary'%>
        </div>
      </div>
    </div>

    <div class="item">
      <%= image_tag "home/carousel/ucla-campus-dark.jpg"%>
      <div class="container">
        <div class="carousel-caption">
          <h1>Strive for Perfection.</h1>
          <p class="lead">Our members are among the top students at UCLA. The Fraternity upholds high standards of
            achievement in all aspects of life. </p>
          <%= link_to "Sign up today", new_contact_path, :class=>'btn btn-large btn-primary'%>
        </div>
      </div>
    </div>

  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

<hr class="featurette-divider">

<!-- Marketing messages.
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4">
      <%= image_tag "home/marketing/academics.jpg" %>
      <h2>Academics</h2>
      <p>At Alpha Epsilon Omega we never forget that we are students first. We hold academic achievement above all else.
        As a member you will find that your brothers are often your most valuable academic resource. In addition we also
        provide resources to our members who would like to learn more about Armenian history, language, and culture.
      </p>
      <p><a class="btn" href="/about/#academics">View details &raquo;</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <%= image_tag "home/marketing/sports.jpg" %>
      <h2>Sports</h2>
      <p>At Alpha Epsilon Omega, we regularly participate in sporting events both at school and in the community. We
        participate in Intramural tournaments on campus, competing against other fraternities and clubs.
      </p>
      <p><a class="btn" href="/about/#sports">View details &raquo;</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <%= image_tag "home/marketing/philanthropy.jpg" %>
      <h2>Philanthropy</h2>
      <p>Alpha Epsilon Omega is always looking to help out Armenians both here and in Armenia. Alpha Epsilon Omega
        regularly participates in various philanthropic activities benefiting the Armenian Community and advances The
        Armenian Cause.
      </p>
      <p>
        <a class="btn" href="/about/#philanthropy">View details &raquo;</a></p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->

</div>

<hr class="home-divider">

<div class="row">
  <div class="span6">
    <h2 class="promo-heading">Alpha Epsilon Omega at UCLA. <span class="muted">It'll blow your mind.</span></h2>
    <p class="lead">Whether you are a Freshman, Junior transfer, or a super-senior joining Alpha Epsilon Omega will be
      one of the best experiences of your college career. Feel free to reach out to us, come to our rush events,
      or just stop by for a friendly game of backgammon.</p>
  </div>
  <div class="span6">
    <div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/XNradw0x4ZY" frameborder="0" allowfullscreen=""></iframe></div>
  </div>
</div>