<% if @contact.errors.any? %>
  <% @contact.errors.full_messages.each do |msg| %>
    <div class='alert alert-error'><%= msg %></div>
  <% end %>
<% end %>

<%= form_for(@contact, :html => {:class=>"well span8 center-me"}) do |f| %>
  <div class="row">

    <div class="span3">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :class=>'span3', :placeholder=>'Your First Name' %>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :class=>'span3', :placeholder=>'Your Last Name' %>
      <%= f.label :email %>
      <%= f.text_field :email, :class=>'span3', :placeholder=>'Your email address' %>
      <%= f.label :subject %>
      <%= f.select :subject, ['How do I rush?', 'General Information', 'Suggestions'] %>
    </div>

    <div class="span5">
      <%= f.label :message %>
      <%= f.text_area :message, :class=>'input-xlarge span5', :rows=>10%>
    </div>

    <%= f.submit :value=>'Send', :class=>'btn btn-primary pull-right'%>
  </div>
<% end %>
