<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to " #{image_tag('flag.png')} UCLA | Alpha Epsilon Omega".html_safe, root_path, {:class => 'brand'} %>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="<%= 'active' if params[:controller] == 'home' %>">
            <%= link_to :root do %>
              <i class="icon-home icon-white"></i> Home
            <% end %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'about' %>"><%= link_to "Our History", :about%></li>
          <li class="<%= 'active' if params[:controller] == 'brothers' %>"><%= link_to "Meet the Brothers",
                                                                                       :brothers %></li>
          <li class="<%= 'active' if params[:controller] == 'contacts' %>"><%= link_to "Contact Us", :new_contact %></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->